body {
	color: #61443e;
	font-family: Monospace;
	font-size: 13px;
	text-align:center;
	background-color: #ffffff;
	margin: 0px;
	overflow: hidden;
}

a { color: #a06851; }

.hidden {
	display: none;
}

#instructions {
	position: absolute;
	top: 45%;
	width: 100%;
	color: #a50;
	text-align: center;
	cursor: pointer;
	display: none;
}

#message {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 40%;
	color: #500;
	text-align: center;
	font-size: 32px;
}
