body {
	color: #61443e;
	font-family:Monospace;
	font-size:13px;
	text-align:center;

	/* background-color: #bfd1e5; */
	background-color: #ffffff;
	margin: 0px;
	overflow: hidden;
}

a { color: #a06851; }

.hidden {
	display: none;
}

#info {
	position: absolute;
	top: 50%; width: 100%;
	padding: 5px;
}

button {
	border: 0;
	border-radius: 5px;
	background: rgba(0,0,0,0.7);
	color: orange;
	cursor: pointer;
}

button:hover {
	color:gold;
	background: rgba(255,0,0,0.8);
}
